@import "reset/reset";
@import "pages/header";
@import "pages/explanations";
@import "pages/problems-solutions";
@import "pages/validation-survey";
@import "pages/founding-team";
@import "responsive/explanations/explanations-landscape-mobile";
@import "responsive/explanations/explanations-landscape-tablets";
@import "responsive/explanations/explanations-mobile";
@import "responsive/explanations/explanations-small-laptops";
@import "responsive/explanations/explanations-tablets";
@import "responsive/founding_team/founding_team-landscape-mobile";
@import "responsive/founding_team/founding_team-landscape-tablets";
@import "responsive/founding_team/founding_team-mobile";
@import "responsive/founding_team/founding_team-small-laptops";
@import "responsive/founding_team/founding_team-tablets";
@import "responsive/header/header-landscape-mobile";
@import "responsive/header/header-landscape-tablets";
@import "responsive/header/header-mobile";
@import "responsive/header/header-small-laptops";
@import "responsive/header/header-tablets";
@import "responsive/problems-solutions/problems-solutions-landscape-mobile";
@import "responsive/problems-solutions/problems-solutions-landscape-tablets";
@import "responsive/problems-solutions/problems-solutions-mobile";
@import "responsive/problems-solutions/problems-solutions-small-laptops";
@import "responsive/problems-solutions/problems-solutions-tablets";
@import "responsive/validation-survey/validation-survey-landscape-mobile";
@import "responsive/validation-survey/validation-survey-landscape-tablets";
@import "responsive/validation-survey/validation-survey-mobile";
@import "responsive/validation-survey/validation-survey-small-laptops";
@import "responsive/validation-survey/validation-survey-tablets";


#getintouch {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
    background-color: #222;
    #getintouch_container {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        .getintouch_title {
            font-size: 24px;
            color: #fff;
            margin-bottom: 15px;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #getintouchform {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                padding: 10px;
                border: none;
                .getintouch_inputs {
                    width: 50%;
                    height: 240px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    input {
                        width: 90%;
                        padding: 10px;
                        margin: 10px 0;
                        border-radius: 5px;
                        border: none;
                        font-size: 14px;
                        box-shadow: 1px 1px 1px #222;
                    }
                }
                .getintouch_textarea {
                    width: 50%;
                    height: auto;
                    textarea {
                        width: 90%;
                        margin: 10px;
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        font-size: 16px;
                        box-shadow: 1px 1px 1px #fff;
                    }
                }
            }
            button#submit {
                width: 25%;
                height: 50px;
                color: white;
                background-color: #052b3e;
                padding: 10px 0;
                border: none;
                border-radius: 10px;
                font-size: 20px;
                font-weight: bold;
                box-shadow: 1px 1px 5px #222;
            }
        }
    }
}