@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: rgb(240, 243, 244);
  font-size: 16px;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: #3CF;
}

a:hover {
  color: #FC3;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}

img {
  width: 100%;
  overflow: hidden;
}

#image_et_titre_header {
  width: 100%;
  height: auto;
  margin: 0 auto 60px auto;
}
#image_et_titre_header .colored_background {
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 3;
  top: 2;
  background-color: rgba(0, 0, 0, 0.349);
}
#image_et_titre_header .image_header {
  width: 100%;
  height: auto;
}
#image_et_titre_header #desktop_image_header {
  width: 100%;
  height: auto;
  background-image: url("../../assets/images/space3.jpg");
  background-position: 0% 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image_et_titre_header #smartphone_image_header {
  display: none;
}
#image_et_titre_header #header_writings {
  width: 60%;
  height: 250px;
  position: relative;
  top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
#image_et_titre_header #header_writings .header_title {
  width: auto;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  z-index: 4;
  letter-spacing: 1px;
  word-spacing: 1px;
}
#image_et_titre_header #header_writings #header_logo {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 4;
}

#explanation_section {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto 60px auto;
  background-color: rgb(240, 243, 244);
}
#explanation_section #explanation_container {
  width: 60%;
  height: auto;
  margin: 0 auto;
  color: #052B3E;
}
#explanation_section #explanation_container .explanations_writings {
  width: 65%;
  height: auto;
  margin: 0 auto;
}
#explanation_section #explanation_container .explanations_writings h2 {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: #052B3E;
  margin-bottom: 20px;
}
#explanation_section #explanation_container .explanations_writings h3 {
  font-size: 24px;
  font-weight: 300;
  word-spacing: 1px;
  letter-spacing: 1px;
  color: #052B3E;
  line-height: 30px;
}
#explanation_section #explanation_container .explanations_writings strong {
  font-size: 24px;
  word-spacing: 1px;
  letter-spacing: 1px;
  color: #052B3E;
}

#problems_solutions {
  width: 60%;
  height: auto;
  margin: 0 auto 60px auto;
  padding: 0;
}
#problems_solutions #both {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#problems_solutions #both .title_pb_title {
  font-size: 30px;
}
#problems_solutions #both #problems {
  width: auto;
  height: auto;
  color: #052B3E;
  padding: 0 40px;
  line-height: 30px;
}
#problems_solutions #both #problems li {
  font-size: 24px;
  list-style-type: disc;
}
#problems_solutions #both #solutions {
  width: auto;
  padding: 0 40px;
  height: auto;
  color: #052B3E;
  line-height: 30px;
}
#problems_solutions #both #solutions li {
  font-size: 24px;
  list-style-type: disc;
}

.validation_survey {
  margin: 0 auto 60px auto;
}
.validation_survey .validation_survey_background {
  width: 100%;
  height: auto;
  background-image: url("https://images.xtensio.tech/images/big/ny424feo/3psp7HLGdU2_R5mtqF0aSw.jpg");
  background-position: 0% 0%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.validation_survey .validation_survey_background #validation_survey_writtings {
  width: 45%;
  height: auto;
  padding: 20px;
  margin: 15px auto;
}
.validation_survey .validation_survey_background #validation_survey_writtings h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.validation_survey .validation_survey_background #validation_survey_writtings p {
  font-size: 24px;
  font-weight: 300;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
}
.validation_survey .validation_survey_background #two_buttons {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.validation_survey .validation_survey_background #two_buttons .validation_survey_button {
  width: 45%;
  height: 60px;
  border-radius: 5px;
  border: none;
  margin: 20px 0;
  padding: 10px;
  background-color: #052b3e;
}
.validation_survey .validation_survey_background #two_buttons .validation_survey_button a {
  background-color: #052b3e;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

#founding_team {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}
#founding_team #founding_team_container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#founding_team #founding_team_container #founding_team_title {
  width: 100%;
  height: 50px;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: #052B3E;
  margin: 0 auto 20px auto;
}
#founding_team #founding_team_container #founding_team_content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}
#founding_team #founding_team_container #founding_team_content .member {
  width: auto;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
#founding_team #founding_team_container #founding_team_content .member .team_members_image {
  width: 145px;
  height: 195px;
  margin: 25px 0 0 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #222;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#founding_team #founding_team_container #founding_team_content .member .team_members_texts {
  width: 350px;
  padding: 20px;
}
#founding_team #founding_team_container #founding_team_content .member .team_members_texts h2 {
  font-size: 30px;
}
#founding_team #founding_team_container #founding_team_content .member .team_members_texts h4 {
  font-size: 18px;
  font-weight: 500;
}
#founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 1px;
}
#founding_team #founding_team_container #founding_team_content .member .team_members_texts h2, #founding_team #founding_team_container #founding_team_content .member .team_members_texts h4, #founding_team #founding_team_container #founding_team_content .member .team_members_texts h5, #founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
  color: #052B3E;
  margin-bottom: 20px;
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  #explanation_section {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -30px;
    margin-bottom: 15px;
  }
  #explanation_section #explanation_container {
    width: 100%;
  }
  #explanation_section #explanation_container .explanations_writings.landscape_mobile {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #explanation_section #explanation_container .explanations_writings.landscape_mobile h2 {
    font-size: 24px;
    font-weight: bold;
  }
  #explanation_section #explanation_container .explanations_writings.landscape_mobile h3 {
    font-size: 18px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1400px) {
  #explanation_section {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -30px;
    margin-bottom: 15px;
  }
  #explanation_section #explanation_container {
    width: 70%;
  }
  #explanation_section #explanation_container .explanations_writings {
    width: 100%;
  }
  #explanation_section #explanation_container .explanations_writings h2 {
    font-size: 30px;
    font-weight: bold;
  }
  #explanation_section #explanation_container .explanations_writings h3 {
    font-size: 24px;
  }
}
@media all and (max-width: 30rem) {
  #explanation_section {
    height: auto;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  #explanation_section #explanation_container {
    width: 100%;
  }
  #explanation_section #explanation_container .explanations_writings {
    width: 100%;
  }
  #explanation_section #explanation_container .explanations_writings h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  #explanation_section #explanation_container .explanations_writings h3 {
    font-size: 16px;
    line-height: 1.2;
    word-wrap: break-word;
  }
}
@media all and (max-width: 1000px) and (min-width: 481px) {
  #explanation_section {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
  }
  #explanation_section #explanation_container {
    width: 90%;
  }
  #explanation_section #explanation_container .explanations_writings {
    width: 100%;
    padding: 10px 50px;
  }
  #explanation_section #explanation_container .explanations_writings h2 {
    font-size: 30px;
    font-weight: bold;
  }
  #explanation_section #explanation_container .explanations_writings h3 {
    font-size: 20px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  #founding_team #founding_team_container #founding_team_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #founding_team #founding_team_container #founding_team_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #founding_team #founding_team_container #founding_team_content .member {
    width: 100%;
    height: auto;
  }
  #founding_team #founding_team_container #founding_team_content .member img.team_members_image {
    width: 200px;
    height: 260px;
    margin: 40px auto !important;
    padding: 0;
    border-radius: 15px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts {
    width: 70%;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h2 {
    font-size: 24px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h4 {
    font-size: 20px;
    font-weight: 500;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
    font-size: 16px !important;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left !important;
  }
}
@media screen and (orientation: landscape) and (max-width: 1400px) {
  #founding_team #founding_team_container #founding_team_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #founding_team #founding_team_container #founding_team_content .member {
    width: 100%;
    height: auto;
  }
  #founding_team #founding_team_container #founding_team_content .member img.team_members_image {
    width: 200px;
    height: 270px;
    margin-top: 35px;
    padding: 0;
    border-radius: 15px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts {
    width: 70%;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
@media all and (max-width: 30rem) {
  #founding_team {
    margin-top: -10px;
  }
  #founding_team #founding_team_container {
    width: 100%;
  }
  #founding_team #founding_team_container #founding_team_title {
    font-size: 30px;
    margin: 10px auto;
  }
  #founding_team #founding_team_container #founding_team_content {
    flex-direction: column;
    padding: 0;
  }
  #founding_team #founding_team_container #founding_team_content .member {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(5, 43, 62, 0.1921568627);
  }
  #founding_team #founding_team_container #founding_team_content .member img.team_members_image {
    width: 200px;
    height: auto;
    padding: 0;
    border-radius: 5px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts {
    width: 100%;
    padding: 20px 30px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h2 {
    font-size: 24px;
    text-align: center;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h4 {
    text-align: center;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
    line-height: 1.5;
    word-wrap: break-word;
  }
}
@media all and (max-width: 1000px) and (min-width: 481px) {
  #founding_team #founding_team_container #founding_team_title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  #founding_team #founding_team_container #founding_team_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #founding_team #founding_team_container #founding_team_content .member {
    width: 100%;
    height: auto;
  }
  #founding_team #founding_team_container #founding_team_content .member img.team_members_image {
    width: 220px;
    height: 290px;
    margin-top: 60px;
    padding: 0;
    border-radius: 15px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts {
    width: 70%;
    padding: 30px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h2 {
    font-size: 30px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h4 {
    font-size: 24px;
    font-weight: 500;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  #founding_team #founding_team_container #founding_team_content .member .team_members_texts h2, #founding_team #founding_team_container #founding_team_content .member .team_members_texts h4, #founding_team #founding_team_container #founding_team_content .member .team_members_texts h5, #founding_team #founding_team_container #founding_team_content .member .team_members_texts p {
    color: #052B3E;
    margin-bottom: 20px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  #image_et_titre_header .colored_background {
    height: 325px;
  }
  #image_et_titre_header #desktop_image_header {
    display: none;
  }
  #image_et_titre_header #smartphone_image_header {
    margin-bottom: 80px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings {
    bottom: 40%;
    width: 100%;
    margin: 0 40px;
    padding-bottom: 20px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings h3.header_title {
    position: relative;
    font-size: 18px;
    letter-spacing: 2px;
    top: 12px;
    text-align: center;
    height: auto;
    width: auto;
  }
  #image_et_titre_header #smartphone_image_header #header_writings img#header_logo {
    width: 40%;
    height: auto;
  }
}
@media screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1400px) {
  #image_et_titre_header {
    height: auto;
    margin-bottom: 100px !important;
  }
  #image_et_titre_header .colored_background {
    height: 348px;
  }
  #image_et_titre_header #desktop_image_header {
    display: none;
  }
  #image_et_titre_header #smartphone_image_header {
    display: block;
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/space3.jpg");
    background-position: 50% 0%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings {
    bottom: 50%;
    width: 100%;
    margin-bottom: 38px;
    padding: 0 50px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings h3 {
    position: relative;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    height: auto;
    width: auto;
  }
  #image_et_titre_header #smartphone_image_header #header_writings #header_logo {
    width: 28%;
    height: auto;
  }
}
@media all and (max-width: 35rem) {
  #image_et_titre_header {
    height: auto;
  }
  #image_et_titre_header .colored_background {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 3;
    top: 2;
    background-color: rgba(0, 0, 0, 0.349);
  }
  #image_et_titre_header #desktop_image_header {
    display: none;
  }
  #image_et_titre_header #smartphone_image_header {
    display: block;
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/space3.jpg");
    background-position: 50% 0%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #image_et_titre_header #smartphone_image_header #header_writings {
    flex-direction: column-reverse;
    bottom: 50%;
    margin: 0 15px 50px 15px;
    width: 100%;
    padding: 0 40px 20px 40px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings h3 {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    top: 10px;
    text-align: center;
    height: auto;
    width: 100%;
  }
  #image_et_titre_header #smartphone_image_header #header_writings #header_logo {
    width: auto;
    height: auto;
    position: relative;
    z-index: 5;
  }
}
@media all and (max-width: 1000px) and (min-width: 450px) {
  #image_et_titre_header {
    height: auto;
    margin-bottom: 30px;
  }
  #image_et_titre_header .colored_background {
    height: 250px;
  }
  #image_et_titre_header #desktop_image_header {
    display: none;
  }
  #image_et_titre_header #smartphone_image_header {
    display: block;
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/space3.jpg");
    background-position: 50% 0%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings {
    bottom: 50%;
    margin: 0 0px 35px 0px;
    width: 100%;
    margin-bottom: 0px;
  }
  #image_et_titre_header #smartphone_image_header #header_writings h3 {
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    height: auto;
    width: 100%;
  }
  #image_et_titre_header #smartphone_image_header #header_writings #header_logo {
    width: 55%;
    height: auto;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  .validation_survey .validation_survey_background {
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 30px;
  }
  .validation_survey .validation_survey_background #two_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .validation_survey .validation_survey_background #two_buttons .validation_survey_button {
    width: 50%;
    height: 55px;
  }
  .validation_survey .validation_survey_background #two_buttons .validation_survey_button a {
    font-size: 18px;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings {
    width: 80%;
    padding: 5px;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings h2 {
    font-size: 24px;
    letter-spacing: 0;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings p {
    width: 100%;
    font-size: 20px;
  }
}
@media all and (max-width: 30rem) {
  .validation_survey .validation_survey_background #two_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .validation_survey .validation_survey_background #two_buttons .validation_survey_button {
    width: 85%;
    height: 60px;
  }
  .validation_survey .validation_survey_background #two_buttons .validation_survey_button a {
    font-size: 16px;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings {
    width: 100%;
    padding: 0 30px;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings h2 {
    font-size: 24px;
    letter-spacing: 0;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings p {
    font-size: 18px;
    line-height: 1.2;
    word-wrap: break-word;
    word-spacing: -1px;
  }
}
@media all and (max-width: 1000px) and (min-width: 481px) {
  .validation_survey .validation_survey_background {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  .validation_survey .validation_survey_background #two_buttons {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .validation_survey .validation_survey_background #two_buttons .validation_survey_button {
    width: 80%;
    height: 60px;
  }
  .validation_survey .validation_survey_background #two_buttons .validation_survey_button a {
    font-size: 20px;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings {
    width: 100%;
    padding: 5px;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings h2 {
    font-size: 30px;
    letter-spacing: 0;
  }
  .validation_survey .validation_survey_background #validation_survey_writtings p {
    width: 80%;
    margin: 0 auto;
    font-size: 21px;
  }
}
#getintouch {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #222;
}
#getintouch #getintouch_container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#getintouch #getintouch_container .getintouch_title {
  width: 60%;
  font-size: 30px;
  color: #0d4866;
  padding: 20px 0 0 0;
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 5px 5px 0 0;
}
#getintouch #getintouch_container form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border: none;
  padding: 40px;
}
#getintouch #getintouch_container form #getintouchform {
  width: 100%;
  height: auto;
  padding: 10px;
  border: none;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  position: relative;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  margin: 0 0 25px 0;
  border-radius: 5px;
  border: 4px solid #fff;
  font-size: 14px;
  box-shadow: 1px 1px 5px #222;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control input:focus {
  outline: 3px solid #0d4866;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control i {
  position: absolute;
  top: 15px;
  right: 10px;
  visibility: hidden;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control small {
  position: absolute;
  bottom: 5px;
  left: 0px;
  visibility: hidden;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.success input {
  border-right: 5px solid #0d4866;
  box-shadow: none;
  box-shadow: 1px 1px 5px #222;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.success input:focus {
  outline: none;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.success i.fa-check-circle {
  visibility: visible;
  color: #0d4866;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.success small {
  visibility: visible;
  color: #0d4866;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.error input {
  border-right: 5px solid #ff0000;
  box-shadow: 1px 1px 5px #222;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.error input:focus {
  outline: none;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.error i.fa-exclamation {
  visibility: visible;
  color: #ff0000;
  font-size: 18px;
  font-weight: bolder;
}
#getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control.error small {
  visibility: visible;
  color: #ff0000;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea {
  width: 100%;
  margin: 0px 0 25px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: 1px 1px 5px #222;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea:focus {
  outline: 3px solid #0d4866;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea {
  position: relative;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea i {
  position: absolute;
  top: 100px;
  right: 10px;
  visibility: hidden;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea small {
  position: absolute;
  bottom: 7px;
  left: 0px;
  visibility: hidden;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.success textarea {
  border-right: 5px solid #0d4866;
  box-shadow: 1px 1px 5px #222;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.success textarea:focus {
  outline: none;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.success i.fa-check-circle {
  visibility: visible;
  color: #0d4866;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.success small {
  visibility: visible;
  color: #0d4866;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.error textarea {
  border-right: 5px solid #ff0000;
  box-shadow: 1px 1px 5px #222;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.error textarea:focus {
  outline: none;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.error i.fa-exclamation {
  visibility: visible;
  color: #ff0000;
  font-size: 18px;
  font-weight: bolder;
}
#getintouch #getintouch_container form #getintouchform .getintouch_textarea .form-control.messagearea.error small {
  visibility: visible;
  color: #ff0000;
}
#getintouch #getintouch_container form button#submit {
  width: 94%;
  height: 50px;
  margin: 0 auto;
  color: white;
  background-color: #0d4866;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 1px 1px 5px #222;
}

@media all and (max-width: 767px) {
  #getintouch {
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
  }
  #getintouch #getintouch_container {
    width: 100%;
    height: auto;
    margin: 40px 10px;
  }
  #getintouch #getintouch_container .getintouch_title {
    width: 100%;
    font-size: 24px;
    color: #fff;
    background-color: #222;
  }
  #getintouch #getintouch_container form {
    width: 100%;
    background-color: #222;
    padding: 40px 5px 40px 5px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_inputs {
    width: 100%;
    height: 240px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control input {
    margin: 0 0 35px 0;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control input:focus {
    outline: 3px solid #0d4866;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_inputs .form-control small {
    top: 50px;
    left: 0px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea {
    width: 100%;
    height: auto;
    position: relative;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea {
    margin: 0px 0 35px 0;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea:focus {
    outline: 3px solid #0d4866;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea small {
    position: absolute;
    top: 215px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1400px) {
  #getintouch {
    margin: 60px auto 0 auto;
    background-color: #222;
  }
  #getintouch #getintouch_container {
    width: 100%;
    margin-top: 10px;
  }
  #getintouch #getintouch_container .getintouch_title {
    width: 60%;
    font-size: 30px;
    color: #0d4866;
    background-color: #fff;
  }
  #getintouch #getintouch_container form {
    width: 60%;
    background-color: #fff;
    padding: 40px 5px 40px 5px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_inputs {
    width: 100%;
    height: 240px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea {
    width: 100%;
    height: auto;
    position: relative;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea {
    margin: 0px 0 35px 0;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea:focus {
    outline: 3px solid #0d4866;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea small {
    position: absolute;
    top: 215px;
  }
}
@media all and (max-width: 1000px) and (min-width: 400px) {
  #getintouch {
    margin: 60px auto 0 auto;
    background-color: #222;
  }
  #getintouch #getintouch_container {
    width: 100%;
    margin-top: 10px;
  }
  #getintouch #getintouch_container .getintouch_title {
    width: 80%;
    font-size: 30px;
    color: #0d4866;
    background-color: #fff;
  }
  #getintouch #getintouch_container form {
    width: 80%;
    background-color: #fff;
    padding: 40px 5px 40px 5px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_inputs {
    width: 100%;
    height: 240px;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea {
    width: 100%;
    height: auto;
    position: relative;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea {
    margin: 0px 0 35px 0;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea textarea:focus {
    outline: 3px solid #0d4866;
  }
  #getintouch #getintouch_container form #getintouchform .getintouch_textarea small {
    position: absolute;
    top: 215px;
  }
}/*# sourceMappingURL=main.css.map */