@import "reset/reset";
@import "pages/header";
@import "pages/explanations";
@import "pages/problems-solutions";
@import "pages/validation-survey";
@import "pages/founding-team";
@import "responsive/explanations/explanations-landscape-mobile";
@import "responsive/explanations/explanations-landscape-tablets";
@import "responsive/explanations/explanations-mobile";
@import "responsive/explanations/explanations-small-laptops";
@import "responsive/explanations/explanations-tablets";
@import "responsive/founding_team/founding_team-landscape-mobile";
@import "responsive/founding_team/founding_team-landscape-tablets";
@import "responsive/founding_team/founding_team-mobile";
@import "responsive/founding_team/founding_team-small-laptops";
@import "responsive/founding_team/founding_team-tablets";
@import "responsive/header/header-landscape-mobile";
@import "responsive/header/header-landscape-tablets";
@import "responsive/header/header-mobile";
@import "responsive/header/header-small-laptops";
@import "responsive/header/header-tablets";
@import "responsive/problems-solutions/problems-solutions-landscape-mobile";
@import "responsive/problems-solutions/problems-solutions-landscape-tablets";
@import "responsive/problems-solutions/problems-solutions-mobile";
@import "responsive/problems-solutions/problems-solutions-small-laptops";
@import "responsive/problems-solutions/problems-solutions-tablets";
@import "responsive/validation-survey/validation-survey-landscape-mobile";
@import "responsive/validation-survey/validation-survey-landscape-tablets";
@import "responsive/validation-survey/validation-survey-mobile";
@import "responsive/validation-survey/validation-survey-small-laptops";
@import "responsive/validation-survey/validation-survey-tablets";


#getintouch {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #222;
    #getintouch_container {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .getintouch_title {
            width: 60%;
            font-size: 30px;
            color: #0d4866;
            padding: 20px 0 0 0;
            text-align: center;
            background-color: #fff;
            border: none;
            border-radius: 5px 5px 0 0;
        }
        form {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 0 0 5px 5px;
            border: none;
            padding: 40px;
            #getintouchform {
                width: 100%;
                height: auto;
                padding: 10px;
                border: none;
                .getintouch_inputs {
                    width: 100%;
                    height: 240px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    .form-control {
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                        position: relative;
                        // padding-bottom: 5px;
                        input {
                            width: 100%;
                            height: 45px;
                            padding-left: 10px;
                            margin: 0 0 25px 0;
                            border-radius: 5px;
                            border: 4px solid #fff;
                            font-size: 14px;
                            box-shadow: 1px 1px 5px #222;
                            &:focus {
                                outline: 3px solid #0d4866;
                            }
                        }
                        i {
                            position: absolute;
                            top: 15px;
                            right: 10px;
                            visibility: hidden;
                        }
                        small {
                            position: absolute;
                            bottom: 5px;
                            left: 0px;
                            visibility: hidden;
                        }
                        &.success {
                            input {
                                border-right: 5px solid #0d4866;
                                box-shadow: none;
                                box-shadow: 1px 1px 5px #222;
                                &:focus {
                                    outline: none;
                                }
                            }
                            i.fa-check-circle {
                                visibility: visible;
                                color: #0d4866;
                            }
                            small {
                                visibility: visible;
                                color: #0d4866;
                            }
                        }
                        &.error {
                            input {
                                border-right: 5px solid #ff0000;
                                box-shadow: 1px 1px 5px #222;
                                &:focus {
                                    outline: none;
                                }
                            }
                            i.fa-exclamation {
                                visibility: visible;
                                color: #ff0000;
                                font-size: 18px;
                                font-weight: bolder;
                            }
                            small {
                                visibility: visible;
                                color: #ff0000;
                            }
                        }
                    }
                }
                .getintouch_textarea {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    textarea {
                        width: 100%;
                        margin: 0px 0 25px 0;
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        font-size: 16px;
                        box-shadow: 1px 1px 5px #222;
                        &:focus {
                            outline: 3px solid #0d4866;
                        }
                    }
                    .form-control.messagearea {
                        position: relative;
                        i {
                            position: absolute;
                            top: 100px;
                            right: 10px;
                            visibility: hidden;
                        }
                        small {
                            position: absolute;
                            bottom: 7px;
                            left: 0px;
                            visibility: hidden;
                        }
                        &.success {
                            textarea {
                                border-right: 5px solid #0d4866;
                                box-shadow: 1px 1px 5px #222;
                                &:focus {
                                    outline: none;
                                }
                            }
                            i.fa-check-circle {
                                visibility: visible;
                                color: #0d4866;
                            }
                            small {
                                visibility: visible;
                                color: #0d4866;
                            }
                        }
                        &.error {
                            textarea {
                                border-right: 5px solid #ff0000;
                                box-shadow: 1px 1px 5px #222;
                                &:focus {
                                    outline: none;
                                }
                            }
                            i.fa-exclamation {
                                visibility: visible;
                                color: #ff0000;
                                font-size: 18px;
                                font-weight: bolder;
                            }
                            small {
                                visibility: visible;
                                color: #ff0000;
                            }
                        }
                    }
                    
                }
            }
            button#submit {
                width: 94%;
                height: 50px;
                margin: 0 auto;
                color: white; 
                background-color: #0d4866;
                padding: 10px 0;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: bold;
                box-shadow: 1px 1px 5px #222;
            }
        }
    }
}

// Responsive smartphones
@media all and (max-width: 767px) {
    #getintouch {
        height: auto;
        margin: 0 auto;
        padding: 0;
        background-color: transparent;
        #getintouch_container {
            width: 100%;
            height: auto;
            margin: 40px 10px;
            .getintouch_title {
                width: 100%;
                font-size: 24px;
                color: #fff;
                background-color: #222;
            }
            form {
                width: 100%;
                background-color: #222;
                padding: 40px 5px 40px 5px;
                #getintouchform {
                    .getintouch_inputs {
                        width: 100%;
                        height: 240px;
                        .form-control {
                            input {
                                margin: 0 0 35px 0;
                                &:focus {
                                    outline: 3px solid #0d4866;
                                }
                            }
                            small {
                                top: 50px;
                                left: 0px;
                            }
                        }
                    }
                    .getintouch_textarea {
                        width: 100%;
                        height: auto;
                        position: relative;
                        textarea {
                            margin: 0px 0 35px 0;
                            &:focus {
                                outline: 3px solid #0d4866;
                            }
                        }
                        small {
                            position: absolute;
                            top: 215px;
                        }
                    }
                }
            }
        }
    }       
}

@media screen and (orientation:landscape) and (min-width: 1024px) and (max-width: 1400px) {
    #getintouch {
        margin: 60px auto 0 auto;
        background-color: #222;
        #getintouch_container {
            width: 100%;
            margin-top: 10px;
            .getintouch_title {
                width: 60%;
                font-size: 30px;
                color: #0d4866;
                background-color: #fff;
            }
            form {
                width: 60%;
                background-color: #fff;
                padding: 40px 5px 40px 5px;
                #getintouchform {
                    .getintouch_inputs {
                        width: 100%;
                        height: 240px;
                    }
                    .getintouch_textarea {
                        width: 100%;
                        height: auto;
                        position: relative;
                        textarea {
                            margin: 0px 0 35px 0;
                            &:focus {
                                outline: 3px solid #0d4866;
                            }
                        }
                        small {
                            position: absolute;
                            top: 215px;
                        }
                    }
                }
            }
        }
    }
}


// Responsive tablets
@media all and (max-width: 1000px) and (min-width: 400px) {
    #getintouch {
        margin: 60px auto 0 auto;
        background-color: #222;
        #getintouch_container {
            width: 100%;
            margin-top: 10px;
            .getintouch_title {
                width: 80%;
                font-size: 30px;
                color: #0d4866;
                background-color: #fff;
            }
            form {
                width: 80%;
                background-color: #fff;
                padding: 40px 5px 40px 5px;
                #getintouchform {
                    .getintouch_inputs {
                        width: 100%;
                        height: 240px;
                    }
                    .getintouch_textarea {
                        width: 100%;
                        height: auto;
                        position: relative;
                        textarea {
                            margin: 0px 0 35px 0;
                            &:focus {
                                outline: 3px solid #0d4866;
                            }
                        }
                        small {
                            position: absolute;
                            top: 215px;
                        }
                    }
                }
            }
        }
    }
}