@media screen and (orientation:landscape) and (max-width: 1023px) {
    #founding_team {
     #founding_team_container {
        #founding_team_title {
            font-size: 30px;
            margin-bottom : 20px;
        }
         #founding_team_content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .member {
                width: 100%;
                height: auto;
                img.team_members_image {
                    width: 200px;
                    height: 260px;
                    margin: 40px auto!important;
                    padding: 0;
                    border-radius: 15px;
                }
                .team_members_texts {
                    width: 70%;
                    h2 {
                        font-size: 24px;
                    }
                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 16px!important;
                        letter-spacing: 1px;
                        word-spacing: 1px;
                        text-align: left!important;
                    }
                }
            }
        }
     }
    }
}