@media all and (max-width: 1000px) and (min-width: 481px) {
    #problems_solutions {
        width: 100%;
        padding: 15px;
        #both {
            width: 90%;
            margin: 0 auto 30px auto;
            .title_pb_title {
                font-size: 30px;
            }
            #problems {
                width: 100%;
                padding: 35px;
                letter-spacing: 1px;
                word-spacing: 1px;
                li {
                    font-size: 20px;
                }
            }
            #solutions {
                width: 100%;
                padding: 35px;
                letter-spacing: 1px;
                word-spacing: 1px;
                li {
                    font-size: 20px;
                }
            }
        }
    }
}